INCIDENTS_API_URL=https://69dfcd3629c070e6597ae821.mockapi.io/incidents

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-login@example.com
SMTP_PASS=your-smtp-password

ALERT_FROM_EMAIL=your-smtp-login@example.com
ALERT_TO_EMAIL=recipient@example.com

CRON_SECRET=your-strong-secret
